# Test Panels for VOID's ScriptedPanels System

VOID_PANEL
{
	Title = Orbital Information
	WindowPos = 1080, 250
	ValidScenes = FLIGHT
	ValidModes = SANDBOX, CAREER, SCIENCE_SANDBOX

	PANEL_LINE
	{
		Label = Primary
		Value = [#primaryName]
	}

	PANEL_LINE
	{
		Label = Altitude (ASL)
		Value = [#orbitAltitude:%5]m
	}

	PANEL_LINE
	{
		Label = Velocity
		Value = [#orbitVelocity:%5]m/s
	}

	PANEL_LINE
	{
		Label = Apoapsis
		Value = [#orbitApoAlt:%5]m
	}

	PANEL_LINE
	{
		Label = Time to Apoapsis
		Value = [#timeToApo]
	}

	PANEL_LINE
	{
		Label = Periapsis
		Value = [#orbitPeriAlt:%5]m
	}

	PANEL_LINE
	{
		Label = Time to Periapsis
		Value = [#timeToPeri]
	}

	PANEL_LINE
	{
		Label = Inclination
		Value = [#orbitInclination:F3]°
	}

	PANEL_LINE
	{
		Label = Gravity
		Value = [#gravityAccel:%5]m/s²
	}

	LINE_GROUP
	{
		Title = Extended info
		
		PANEL_LINE
		{
			Label = Period
			Value = [#orbitPeriod]
		}
		
		PANEL_LINE
		{
			Label = Semi-Major Axis
			Value = [#semiMajorAxis:%5]m
		}

		PANEL_LINE
		{
			Label = Eccentricity
			Value = [#eccentricity:F4]
		}

		PANEL_LINE
		{
			Label = Mean Anomaly
			Value = [#meanAnomaly:F3]°
		}

		PANEL_LINE
		{
			Label = True Anomaly
			Value = [#trueAnomaly:F3]°
		}

		PANEL_LINE
		{
			Label = Eccentric Anomaly
			Value = [#eccAnomaly:F3]°
		}

		PANEL_LINE
		{
			Label = Long. Ascending Node
			Value = [#longitudeAscNode:F3]°
		}

		PANEL_LINE
		{
			Label = Time to Ascending Node
			Value = [#timeToAscendingNode]
		}

		PANEL_LINE
		{
			Label = Time to Descending Node
			Value = [#timeToDescendingNode]
		}

		PANEL_LINE
		{
			Label = Argument of Periapsis
			Value = [#argumentPeriapsis:F3]°
		}

		PANEL_LINE
		{
			Label = Local Sidereal Longitude
			Value = [#localSiderealLongitude:F3]°
		}
	}
}
